<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark my-nav"> <button class="navbar-toggler" type="button" data-target="#navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active"> <a href="#" class="nav-link"> Home </a> </li>
            <li class="nav-item"> <a href="#" class="nav-link"> Product </a> </li>
            <li class="nav-item"> <a href="#" class="nav-link"> About </a> </li>
            <li class="nav-item"> <a href="#" class="nav-link"> Contact Us </a> </li>
        </ul>
    </div>
    <ul class="navbar-nav li-right">
        <li class="nav-item"> <a href="#" class="nav-link"> Login </a> </li>
    </ul>
</nav>
</body>
</html>