<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>

    <link rel="stylesheet" href="/static/css/comm.css">
    <link rel="stylesheet" href="/static/css/comm_1.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/restaurant-the-lot.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark my-nav"> <button class="navbar-toggler" type="button" data-target="#navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active"> <a href="/" class="nav-link"> Home </a> </li>
            <li class="nav-item"> <a href="/info/restaurants" class="nav-link"> Restaurants </a> </li>
            <li class="nav-item"> <a href="#" class="nav-link"> About </a> </li>
            <li class="nav-item"> <a href="/info/contact" class="nav-link"> Contact Us </a> </li>
        </ul>
    </div>
    <ul class="navbar-nav li-right">
        <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}"> <a href="#" class="nav-link" onclick="openModal()">Login</a> </li>

        <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}"> <form id="logout" action="/logout" method="POST" >
            <input id="csrf-id-logout" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <a class="nav-link" href="javascript:document.getElementById('logout').submit()">Logout</a>
        </form> </li>
    </ul>
</nav>
<a href="/profile" class="profile-href" th:if="${#authorization.expression('isAuthenticated()')}"><img src="/static/profile-icon.png" alt="profile" class="profile-img"></a>

<!-- ----------------------------------------------------------------------------------------------- -->

<div class="div-back">
    <div class="container-common div-contact div-lot" th:each="item : ${menu}">
        <p class="p-name">Ресторан: <span class="span-name">The lot</span></p>
        <br>
        <span class="span-menu">Меню</span>
        <br>
        <br>
        <span class="span-menu1">Завтрак</span>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).BREAKFAST}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$'"></p>
            <p class="p-menu-description" th:text="'(' + ${item.getDescription()} + ')'"></p>
        </div>
        <hr>
        <span class="span-menu1">Салаты</span>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).SALAD}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$'"></p>
            <p class="p-menu-description" th:text="'(' + ${item.getDescription()} + ')'"></p>
        </div>
        <hr>
        <span class="span-menu1">Пицца</span>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).PIZZA}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$'"></p>
            <p class="p-menu-description" th:text="'(' + ${item.getDescription()} + ')'"></p>
        </div>
        <hr>
        <span class="span-menu1">Первое блюдо</span>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).SOUP}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$'"></p>
            <p class="p-menu-description" th:text="'(' + ${item.getDescription()} + ')'"></p>
        </div>
        <hr>
        <span class="span-menu">Десерт</span>
        <br>
        <span class="span-menu1">Торт</span>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).CAKE}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$'"></p>
            <p class="p-menu-description" th:text="'(' + ${item.getDescription()} + ')'"></p>
        </div>
        <hr>
        <span class="span-menu1">Мороженое</span>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).ICE_CREAM}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$'"></p>
            <p class="p-menu-description" th:text="'(' + ${item.getDescription()} + ')'"></p>
        </div>
        <hr>
        <span class="span-menu">Алкогольные напитки</span>
        <br>
        <span class="span-menu1">Вино</span>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).WINE}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$ 0.7L'"></p>
        </div>
        <hr>
        <span class="span-menu1">Шоты</span>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).SHOT}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$'"></p>
            <p class="p-menu-description" th:text="'(' + ${item.getDescription()} + ')'"></p>
        </div>
        <hr>
        <span class="span-menu1">Виски</span>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).WHISKY}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$'"></p>
        </div>
        <hr>
        <span class="span-menu">Безалкогольные напитки</span>
        <br>
        <span class="span-menu1">Молочные коктейли</span>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).MILK_SHAKE}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$'"></p>
            <p class="p-menu-description" th:text="'(' + ${item.getDescription()} + ')'"></p>
        </div>
        <hr>
        <span class="span-menu1">Горячие напитки</span>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).COFFEE}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$'"></p>
        </div>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).TEA}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$'"></p>
        </div>
        <hr>
        <span class="span-menu1">Вода</span>
        <div th:if="${item.getTypeMenu() == T(com.radik.my.project.entity.menu.TypeMenu).WATER}">
            <p class="p-menu" th:text="${item.getName()} + ' ----------------- ' + ${item.getPrice()} + '$'"></p>
        </div>
    </div>
</div>

<!-- ----------------------------------------------------------------------------------------------- -->

<div id="myModal" class="modal">
    <div id="wrapper">
        <form id="sign_in" method="POST" action="/login" autocomplete="off">
            <input type="text" id="usernameModal" name="username" placeholder="email" />
            <input type="password" id="passwordModal" name="password" placeholder="password" />
            <input id="csrf-id-modal" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <button type="submit">&#xf0da;</button>
        </form>
    </div>
</div>

<script src="/js/common.js"></script>
</body>
</html>